@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$text-font: (
  'primary': Open Sans,
);

// $text-wght: (
//   'primary': Open Sans,
// );

// $text-size: (
//   'primary': Open Sans,
// );

// $text-line-height: (
//   'primary': Open Sans,
// );

$colors: (
  'body': #fff,
  'accent': #005541,
  'text': #333,
  'bg-color': #00261d,
);

$max-width-container: 1200px;

$breakpoints: (
  'small': (
    min-width: 479.98px,
  ),
  'medium': (
    min-width: 767.98px,
  ),
  'large': (
    min-width: 1023.98px,
  ),
  'huge': (
    min-width: 1199.98px,
  ),
);
