@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$text-font: (
  'primary': 'Open Sans',
  'secondory': 'sans-serif',
);

$text-wght: (
  'bold': 700,
  'semibold': 600,
  'regular': 400,
  'light': 300,
);

$text-size: (
  '2': 48px,
  '1': 24px,
  '0': 18px,
  '-1': 16px,
  '-2': 14px,
);

$text-line-height: (
  '0': 1.6,
  '-1': 1.3,
);

$colors: (
  'body': #fff,
  'accent': #005541,
  'text': #333,
  'bg-color': #00261d,
);

$max-width-container: 1200px;

$pointbreak: (
  'small': 480px,
  'medium': 768px,
  'large': 1200px,
);

$breakpoints: (
  'small': (
    min-width: 480px,
  ),
  'medium': (
    min-width: 768px,
  ),
  'large': (
    min-width: 1200px,
  ),
);
