.address {
margin-bottom: 30px;

  @include mixBreakpoint(large) {
  }
}

.address__list {
  margin-bottom: 30px;
}

.address__item:not(:last-child) {
  margin-bottom: 15px;
}

.address__link {
  color: funColor(accent);
  @include mixTypography(funWght(regular), funSize(med), funLineHeight(one));
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: flex;
}

.message__field {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.message__label {
  display: inline-block;
  margin-bottom: 4px;

  color: funColor(text);

  @include mixTypography(funWght(semibold), funSize(smal), funLineHeight(two));
}

.message__input {
  padding: 0 15px;

  width: 100%;
  height: 44px;

  color: funColor(text-placeholder);
  background-color: funColor(bg-grey);
  @include mixTypography(funWght(regular), funSize(smal), funLineHeight(two));
}

.message__comment {
  padding: 15px;

  width: 100%;
  height: 115px;

  resize: none;

  background-color: funColor(bg-grey);

  &::placeholder {
    color: funColor(text-placeholder);
    @include mixTypography(funWght(regular), funSize(smal), funLineHeight(two));
  }
}

.message__button {
  display: block;
  padding: 12px 27px;

  color: funColor(body);
  background-color: funColor(accent);
  cursor: pointer;
  @include itemTransition(color);

  @include mixTypography(funWght(semibold), funSize(norm), funLineHeight(two));

  &:hover,
  &:focus {
    color: funColor(text);
  }
}
