.address {
  &__box {
    @include mixBreakpoint(large) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list {
    @include mixBreakpoint(large-max) {
      margin-bottom: 30px;
    }

    @include mixBreakpoint(large) {
      width: 531px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link {
    color: funColor(accent);
    @include mixTypography(funWght(regular), funSize(med), funLineHeight(one));
    @include itemTransition(color);

    &:hover,
    &:focus {
      color: funColor(progbar);
    }
  }
}

.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    display: flex;
    fill: funColor(accent);
    @include itemTransition(fill);

    &:hover,
    &:focus {
      fill: funColor(progbar);
    }
  }
}

.message {
  @include mixBreakpoint(large) {
    width: 540px;
  }

  &__field {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }

  &__field:nth-child(-n + 2) {
    @include mixBreakpoint(large) {
      display: inline-block;
      margin-bottom: 30px;
      @include mixSize(250px, 72px);
    }
  }

  &__field:first-child {
    @include mixBreakpoint(large) {
      margin-right: 30px;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 4px;

    color: funColor(text);

    @include mixTypography(funWght(semibold), funSize(smal), funLineHeight(two));

    @include mixBreakpoint(large) {
      margin-bottom: 10px;
    }
  }

  &__input {
    padding: 0 15px;
    @include mixSize(100%, 44px);

    color: funColor(text-placeholder);
    background-color: funColor(bg-grey);
    @include mixTypography(funWght(regular), funSize(smal), funLineHeight(two));
  }

  &__comment {
    padding: 15px;
    @include mixSize(100%, 115px);
    resize: none;

    background-color: funColor(bg-grey);

    &::placeholder {
      color: funColor(text-placeholder);
      @include mixTypography(funWght(regular), funSize(smal), funLineHeight(two));
    }
  }

  &__button {
    display: block;
    padding: 12px 27px;

    color: funColor(body);
    background-color: funColor(accent);
    cursor: pointer;
    @include itemTransition(color);

    @include mixTypography(funWght(semibold), funSize(norm), funLineHeight(two));

    &:hover,
    &:focus {
      color: funColor(progbar);
    }
  }
}
