.page-haeder {
  background-color: funColor(bg-color);
}

.logo {
  @include mixPosition;
  z-index: 12;
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;

  @include mixBreakpoint(large) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__img {
    @include mixSize(110px, 36px);

    @include mixBreakpoint(large) {
      @include mixSize(158px, 52px);
    }
  }
}

.navigation {
  @include mixPosition;
  @include mixFlex;
  justify-content: space-between;
  min-height: 50px;

  @include mixBreakpoint(large) {
    min-height: 193px;
    justify-content: space-evenly;
  }

  &__list {
    @include mixBreakpoint(large-max) {
      @include mixPosition(fixed);
      z-index: 10;

      @include mixSize(100vw, 100vh);

      padding: 80px 20px 15px;
      text-align: center;

      color: funColor(body);
      background-color: funColor(bg-color);

      @include mixHiden(hiden);
      @include itemTransition(opacity, visibility);

      &.is-open {
        @include mixHiden(appear);
      }

      overflow: auto;
    }

    @include mixBreakpoint(large) {
      @include mixFlex;
      color: funColor(body);
    }
  }

  &__item:not(:last-child) {
    @include mixBreakpoint(large) {
      margin-right: 30px;
    }
  }

  &__link {
    display: block;
    padding: 11px 0;
    @include mixTypography(funWght(semibold), funSize(norm), funLineHeight(two));

    @include mixBreakpoint(large) {
      padding: 87px 0;
    }

    @include itemTransition(color);

    &:hover,
    &:focus {
      color: funColor(accent);
    }
  }
}
