.page-haeder {
  background-color: tomato;
}

.navigation {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  // for desktop
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-evenly;
}

.logo {
  position: relative;
  z-index: 12;
  display: inline-block;
}

.logo__img {
  // for mobile
  width: 110px;
  //   for desktop
  //   width: 160px;
}

.navigation__list {
  z-index: 10;
  position: fixed;
  top: 5%;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 80px 20px 15px;
  text-align: center;

  color: white;
  background-color: tomato;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  overflow: auto;

  // for desktop
  //   display: flex;
}

// .navigation__item {
// }

.navigation__item:not(:last-child) {
  // for mobile
  margin-bottom: 20px;
  // for desktop
  // margin-right: 30px;
}

// .navigation__link {
// for desktop
// display: block;
// padding-top: 30px;
// padding-bottom: 30px;
// }
