.revue-content {
      display: flex;
      flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

      @include mixBreakpoint(large) {
    // justify-content: space-around;
  }

}

.revue {
  text-align: center;
  background-color: funColor(bg-grey);
}

.revue-wrap {
  padding: 0 50px;
  max-width: 400px;
}

.revue-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.revue-author {
  display: block;
  margin-bottom: 20px;

  color: funColor(accent);
  @include mixTypography(funWght(semibold), funSize(big), funLineHeight(two));
}

.revue-video {
  position: relative;
  z-index: 1;
  display: flex;
  width: 570px;
  height: 400px;

  background-image: url('../images/video.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.revue-video::before {
  display: block;
  margin: auto;
  content: '';
  width: 87px;
  height: 100px;

  background-image: url('../images/play.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.revue-video::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  content: '';

  background-color: rgba(0, 0, 0, 0.4);
}
