.service__list {
  @include mixBreakpoint(large) {
    display: flex;
  }
}

.service__item {
  @include mixBreakpoint(large) {
    width: 330px;
  }
}

.service__item:not(:last-child) {
  @include mixBreakpoint(large-max) {
    margin-bottom: 30px;
  }

  @include mixBreakpoint(large) {
    margin-right: 90px;
  }
}

.service__icon {
  display: block;
  margin-bottom: 10px;
  @include mixSize(40px);

  @include mixBreakpoint(large) {
    margin-bottom: 30px;
    @include mixSize(60px);
  }
}

.service__subtitle {
  @include mixBreakpoint(large) {
    margin-bottom: 25px;
  }
}
