.service {
  &__list {
    @include mixBreakpoint(large) {
      display: flex;
    }
  }

  &__item {
    @include mixBreakpoint(large) {
      width: 330px;
    }
  }

  &__item:not(:last-child) {
    @include mixBreakpoint(large-max) {
      margin-bottom: 30px;
    }

    @include mixBreakpoint(large) {
      margin-right: 90px;
    }
  }

  &__icon {
    display: block;
    margin-bottom: 10px;
    @include mixSize(40px);

    @include mixBreakpoint(large) {
      margin-bottom: 30px;
      @include mixSize(60px);
    }
  }

  &__subtitle {
    @include mixBreakpoint(large) {
      margin-bottom: 25px;
    }
  }
}
