.skills {
  @include mixBreakpoint(large) {
    background-color: funColor(bg-grey);
  }

  &__box {
    @include mixBreakpoint(large) {
      display: flex;
      align-items: center;
    }
  }

  &__img {
    display: block;
    @include mixSize(100%);

    @include mixBreakpoint(large-max) {
      margin-bottom: 30px;
    }

    @include mixBreakpoint(large) {
      margin-right: 90px;
      @include mixSize(415px, 450px);
    }
  }

  &__list {
    text-align: center;
    text-transform: uppercase;

    @include mixBreakpoint(large) {
      @include mixSize(665px, 268px);
    }
  }

  &__item {
    @include mixBreakpoint(large) {
      @include mixFlex;

      &:not(:last-child) {
        margin-bottom: 86px;
      }
    }
  }

  &__item:nth-child(1) {
    .skills__progress-line {
      @include mixSize(90%, 32px);
      background-color: funColor(accent);
    }

    @include mixBreakpoint(large) {
      .skills__text {
        margin-right: 5%;
      }
    }
  }

  &__item:nth-child(2) {
    .skills__progress-line {
      @include mixSize(80%, 32px);
      background-color: funColor(accent);
    }

    @include mixBreakpoint(large) {
      .skills__text {
        margin-right: 8%;
      }
    }
  }

  &__item:nth-child(3) {
    .skills__progress-line {
      @include mixSize(60%, 32px);
      background-color: funColor(accent);
    }

    @include mixBreakpoint(large) {
      .skills__text {
        margin-right: 10%;
      }
    }
  }

  &__bar {
    @include mixSize(100%, 32px);
    background-color: funColor(progbar);
  }
}
