.statistic {
  &__list {
    display: flex;
    flex-wrap: wrap;

    @include mixBreakpoint(large) {
      justify-content: space-between;
    }
  }

  &__item {
    @include mixFlex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    background-color: funColor(bg-grey);

    @include mixBreakpoint(large-max) {
      width: calc((100% - 15px) / 2);

      &:not(:nth-child(2n)) {
        margin-right: 15px;
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 15px;
      }
    }

    @include mixBreakpoint(large) {
      @include mixSize(270px);
    }
  }

  &__text {
    @include mixTypography(funWght(regular), funSize(smal), funLineHeight(two));

    @include mixBreakpoint(large) {
      @include mixTypography(funWght(regular), funSize(norm), funLineHeight(two));
    }
  }

  &__count {
    @include mixTypography(funWght(semibold), funSize(goodly), funLineHeight(two));

    @include mixBreakpoint(large) {
      @include mixTypography(funWght(semibold), funSize(great), funLineHeight(two));
    }
  }
}
