.filter__list {
  margin-bottom: 30px;
  text-align: center;

  @include mixBreakpoint(large) {
    // display: flex;
    // justify-content: center;
    @include mixFlex;
  }
}

.filter__item:not(:last-child) {
  @include mixBreakpoint(large-max) {
    margin-bottom: 15px;
  }

  @include mixBreakpoint(large) {
    margin-right: 45px;
  }
}

.filter__button {
  @include mixTypography(funWght(semibold), funSize(norm), funLineHeight(one));
  cursor: pointer;
  @include itemTransition(color);

  @include mixBreakpoint(large) {
    @include mixTypography(funWght(semibold), funSize(big), funLineHeight(one));
  }

  &:hover,
  &:focus {
    color: funColor(accent);
  }
}

.card__list {
  // display: flex;
  // justify-content: center;
  @include mixFlex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-bottom: 42px;

  @include mixBreakpoint(large) {
    margin-right: -30px;
    margin-bottom: 60px;
  }
}

.card__item {
  margin-right: 15px;
  margin-bottom: 15px;

  @include mixBreakpoint(large) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.work__button {
  display: block;
  padding: 18px 24px;
  margin: auto;

  color: funColor(body);
  background-color: funColor(accent);
  cursor: pointer;
  @include itemTransition(color);

  @include mixTypography(funWght(semibold), funSize(norm), funLineHeight(two));

  &:hover,
  &:focus {
    color: funColor(text);
  }
}
