.works {
  &__button {
    padding: 18px 24px;
    margin: auto;
  }
}

.filter {
  &__list {
    margin-bottom: 30px;
    text-align: center;

    @include mixBreakpoint(large) {
      @include mixFlex;
    }
  }

  &__item:not(:last-child) {
    @include mixBreakpoint(large-max) {
      margin-bottom: 15px;
    }

    @include mixBreakpoint(large) {
      margin-right: 45px;
    }
  }

  &__button {
    display: inline-block;

    color: funColor(text);
    background-color: funColor(body);

    @include mixTypography(funWght(semibold), funSize(norm), funLineHeight(one));

    @include mixBreakpoint(large) {
      @include mixTypography(funWght(semibold), funSize(big), funLineHeight(one));
    }
  }
}

.card {
  &__list {
    @include mixFlex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-bottom: 42px;

    @include mixBreakpoint(large) {
      margin-right: -30px;
      margin-bottom: 60px;
    }
  }

  &__item {
    margin-right: 15px;
    margin-bottom: 15px;

    @include mixBreakpoint(large) {
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }
}
