.button {
  display: block;

  color: funColor(body);
  background-color: funColor(accent);
  @include mixTypography(funWght(semibold), funSize(norm), funLineHeight(two));

  cursor: pointer;
  @include itemTransition(color);

  &:hover,
  &:focus {
    color: funColor(accent);
  }
}
