.menu-button {
  z-index: 11;
  position: relative;

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;

  &__close {
    display: none;
  }

  &.is-open {
    .menu-button__menu {
      display: none;
    }

    .menu-button__icon {
      padding: 11px;
    }

    .menu-button__close {
      display: block;
      cursor: pointer;
      stroke: funColor(body);

      transition: stroke 2500ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        stroke: funColor(accent);
      }
    }
  }

  //   for desktop
  //   @media screen and (min-width: $desktop) {
  //     display: none;
  //   }
}
