//  Main content containers
.container {
  max-width: $max-width-container;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @include respond-to('small') {
    width: itemPoint(small);
  }

  @include respond-to('medium') {
    width: itemPoint(medium);
  }

  @include respond-to('huge') {
    width: itemPoint(huge);
  }
}
