body {
  @include mixTypography;
  font-family: funFont(primary), funFont(secondory);
  color: funColor(text);
  background-color: funColor(body);
}

.hero__heading {
  @include mixTypography(funWght(regular), funSize(goodly), funLineHeight(two));
  color: funColor(body);

  @include mixBreakpoint(large) {
    @include mixTypography(funWght(regular), funSize(larg), funLineHeight(two));
  }
}

.hero__text {
  @include mixTypography(funWght(bold), funSize(great), funLineHeight(two));

  @include mixBreakpoint(large) {
    @include mixTypography(funWght(bold), funSize(extrabig), funLineHeight(two));
  }
}

.title {
  position: relative;
  // display: inline-block;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  @include mixTypography(funWght(bold), funSize(goodly), funLineHeight(two));

  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 10px;
  //   bottom: 3px;
  //   left: 0;
  //   background-color: rgba(0, 38, 29, 0.3);
  // }

  @include mixBreakpoint(large) {
    margin-bottom: 60px;
    @include mixTypography(funWght(bold), funSize(larg), funLineHeight(two));
  }
}

.subtitle {
  margin-bottom: 15px;
  @include mixTypography(funWght(semibold), funSize(babig), funLineHeight(two));

  @include mixBreakpoint(large) {
    margin-bottom: 25px;
    @include mixTypography(funWght(semibold), funSize(goodly), funLineHeight(two));
  }
}

.text {
  @include mixTypography(funWght(regular), funSize(med), funLineHeight(one));

  @include mixBreakpoint(large) {
    @include mixTypography(funWght(regular), funSize(norm), funLineHeight(one));
  }
}
